*{
    font-family: Roboto;
}

body{
    display:flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
}

.main-content{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex: 1;
}

.reset-button{
    align-self: center;
}

#reset-button{
    font-size: 28px;
}

.grid-container{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 1000px;
    height: 1000px
}

.gridRow{
    display:flex;
    flex: 1;
}

.gridCell{
    flex: 1;
    border: 1px black solid;
    background-color: rgb(119, 119, 119);
}

.footer{
    display: flex;
    justify-content: center;
}